* {
  box-sizing: border-box;
}


html, body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}


.container {
  width: 90%;
  margin: auto;
}

header {
  width: 100%;
  height: 9em;
  background-color: rgb(254,243,243);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.CFIns {
  width: 20%;
}

header > a {
  width: 70%;
  display:flex;
  justify-content: flex-end;
}

#bannerTop {
  width: 800px !important;
  padding: 3em;
}

.navBar {
  display: flex;
  justify-content: space-between;
  background: rgb(141,23,22);
 /* width: 100%;*/
  padding-right: 50px;
  flex: 1; }
ul {
  list-style: none;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  display: flex;
  margin-left: 3em;
  padding-top: 1em;
  padding-bottom: 1em; 
}

nav a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 15pt; 
}

nav a:hover {
  color: lightblue; 
}

.mainBox {
  background-image: url(images/traffic.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height:850px;
  background-color:rgb(206,206,206);


}

.CarIns {
  font-size: 28pt;
  color: white;
  padding-left: 1em;
  padding-top: 1em;
}

.mainBox > img {
  max-width: 100%
  height:auto;  
  object-fit: cover;
  position: absolute;
  padding-top: 10px;
  height:950px;
  margin: 5em;



}

.form {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  height:800px;
  background-color: rgb(208,208,208);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.9;
  border: solid black;
  margin-bottom: 30px;
  overflow: auto;
  position: relative;
  z-index: 2;
}

.great, .great1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 32pt;
  color: black;
  width: 100%;
  margin-top: 30px;
 
}

.great1 {
  padding-top: 20px;

}

.great {
  margin:-10px;
  
} 

.form-group1, .form-group2 {
  display: flex;
  justify-content: center;
  color:black;
  font-weight: bolder;

  
  
}
.formContent {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

}

.form-group1, .form-group2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  width: 35%;
  height: auto;
  margin: 1%;
  align-content: center;
  padding: 2em 6em 2em 6em;
 
}


label {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  font-weight: bolder;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: -20px;
  flex: 1 1 50%;


 }

 input {
  display: flex;
  flex-wrap: wrap;
  height: 2.8em;
  width: 14em;
  font-size: 18pt;
  flex: 1 1 50%;

 }
 
select {
  display: flex;
  flex-wrap: wrap;
  height: 2.8em;
  width: 17em;
  font-size: 18pt;
  margin: -5;
  padding:0;
  flex: 1 1 100%;

}

.button1 {
  display: flex;
  justify-content: center;
  width: 100%;
} 
.button {
  display: flex;
  justify-content: center;
  width: 800px;
  
}

button {
  background-color: rgb(51,146,54);
  color: white;
  margin: 5px;
  width: 300px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  opacity: 1;


 }

 #result {
  display: flex;
  justify-content: center;
  width: 50em;
  color: black;
  font-size: 23pt;
  color: rgb(96,161,91);
  margin-bottom: 3em;
 }


.motivation  {
  position: relative;
  background-color: rgb(206,206,206);
  color: rgb(76,76,76);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5.8em;
  height: 300px;
  z-index: 1;
}


.firstText, .firstText1 {
  display:flex;
  justify-content: center;
  margin: 0;
  font-size: 20pt;

}

.firstText1 {
  font-size: 30pt !important;

}

.infoBoxes  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 2em;
  margin-top: 1em;
}

.box_left, .box_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 2em;

}

.box_right {
 
  line-height: 3.5vh;
}

.coverage, .protection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap; 
  width: 450px;
  height: auto;
  padding: 2em;
  box-shadow: 2px 3px 2px 3px;
  
 
}
.headerLeft1 .headerLeft2 {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 15pt;
  margin: 0 auto;



}

.headerLeft1, .Right1 {
  font-size: 15pt;
  margin-bottom: 0;

}

.headerLeft2 {
  margin-top: 0;
}

.info /*ul*/  {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  

}

#info /*ul li*/:before {
  content: "\2713\0020";
  display: inline-block;
  padding-right: 1em;
  color: rgb(145,211,213);
  align-content: flex-start;
  list-style: none;
  margin-left: -2.5em;
  

  
}

.benefits, .benefits2 {
  font-size: 13pt !important;

}

.rates, .accident {
  margin-top: -20px;
  width: 400px;
}



.Rightt1 {
  
  direction: column;
  font-size: 25pt !important;
  margin-bottom: 0;
  width: 400px;

}

.Right2 {
  margin-top: 0;

}


footer {
  
  padding:10px;
  bottom: 0;
  width: 100%;
  background-color: black;
}

footer > nav {
  font-size: 1em;
}

footer > div {
  width: 100%;
  text-align: right;
}

#footerLogo {
  width: 25%;
  padding-top: 2em;
  padding-right: 5em;
  padding-bottom: 2em;
}

footer > p {
  font-size: 1.5em;
  padding-bottom: 1.5em;
  color: white;
  text-align: center;
}


@media screen and (min-width: 481px) and (max-width: 1200px) {
  .container {
    width: 99%;
  }
  header {
    justify-content: flex-start;
  }
  header > a {
    display: none;
  }
  header > img {
    width: 40%;
  }
 /* ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -1.5em;
  }
  li > a {
    font-size: 1.5em;
  }*/
  .form {
    display: flex;
    flex-direction: column;
  }

  footer > div {
    text-align: center;
  }
  #footer_logo {
    width: 40%;
    padding: 1em 0;
  }
  footer > p {
    font-size: 1em;
  }

}

@media screen and (max-width: 480px) {
  .conteiner {
    width: 99%;
  }
  header {
    justify-content: flex-start;
  }
  header > a {
    display: none;
  }
  header > img {
    width: 70%;
  }
 /* ul {
    display: flex;
    justify-content: center;
  }
  li > a {
    font-size: 1.5em;
  }*/

  footer > div {
    text-align: center;
  }
  #footer_logo {
    width: 40%;
    padding: 1em 0;
  }
  footer > p {
    font-size: 1em;
  }
  .infoBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  label, input, select {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

